footer {
    background-color: rgb(28, 75, 41);
    height: 120px;
    width: 100%;
    display: inline;
    border-top: 1px groove rgba(174, 223, 255, 0.658);
    padding: 0px; 
    align-items:stretch;
    color:whitesmoke;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    text-transform: uppercase;
    z-index: 999;
    float: left;
    margin-top: 10px;
    margin-left: 1em;
    margin-right: 1em;
}
footer span{
    float:right;
    font-size: 0.5em;
}
footer nav{
    float:left;
    height: 75%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-content: start;
    padding-left: 1em;
}

.enlaces_marcas{
    width: 25%;
    height: 75px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    justify-items: start;
    padding-top: 10px;
    padding-left: 0em;
}

.enlaces_marcas:first-child{
    padding-left: 0em;
}

.redes{
    width:90%;
    height:25px;
    font-size: 1em;
    margin-bottom: 5px;
    border-bottom: 1px solid; 
    border-image: linear-gradient(0deg,whitesmoke  25%, #4b221c 75%);
} 

.linea_div{
    width: 25%;
    height: 1px;
    border: 0.01em solid whitesmoke;
}

footer a{
   color: white;
   font-size: 80%;
   padding-right: 1%;
}

.fa-brands:hover{
    transform: scale(1.4);
}

@media all and (min-width:600px) and (max-width:1023px){
   
    footer {
        height: 90px;
        width: 100%;
        display: inline;
        margin-top: 7px;
        margin-left: auto;
        margin-right: auto;
    }
    
    .enlaces_marcas{
        height: 50px;
        padding-top: 7px;
    }
    
    .redes{
        width:25%;
        height:25px;
        margin-bottom: 3px;
    }
}

@media all and (max-width:599px){

    footer {
        height: auto;
        width: 100%;
        display: block;
        margin-top: 3px;
        margin-left: auto;
        margin-right: auto;
    }
    footer span{
        float:none;
        font-size: x-small;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        padding-left: 1em;
    }

    footer nav{
        float:none;
        display: block;
        width: 100%;
        margin-bottom:2px;
        height: auto;
    }
 
    .enlaces_marcas{
        width: 25%;
        height: auto;
    }
  
    .redes{
        width:90%;
        height:15px;
        font-size: 1.1em;
        margin-bottom: 1px;
        padding-left: 0em;
    }
 
    footer a{
        font-size: 65%;
        margin-right: 4%;
    }
}