footer {
    background-color: rgb(28, 75, 41);
    height: 120px;
    width: 100%;
    /* position: absolute; */
    display: inline;
    border-top: 1px groove rgba(174, 223, 255, 0.658);
    padding: 0px 1rem; 
    align-items:stretch;
    color:whitesmoke;
    /* justify-content:center; */
    /* top: 0; */
    /* left: 0; */
    /* right: 0; */
    /* width: 100%; */
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    text-transform: uppercase;
    z-index: 999;
    float: left;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
}
footer span{
    float:right;
    font-size: x-small;
}
footer nav{
    float:left;
    height: 75%;
    width: 100%;
    display: flex;
    flex-direction: column;
    /* flex-wrap: wrap; */
    justify-content: start;
    align-content: start;
    padding-left: 1rem;

}

.enlaces_marcas{
    width: 25%;
    height: 75px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    justify-items: start;
    padding-top: 10px;
    padding-left: 0rem;
}

.enlaces_marcas:first-child{
    padding-left: 0rem;
}

.redes{
    width:25%;
    height:25px;
    font-size: medium;
    border-bottom: 1px solid whitesmoke;
    margin-bottom: 5px;
}
/* footer nav ul li{
    display:inline; 
    padding: 5px 1rem;
} */

footer a{
   color: white;
}

.fa-brands:hover{
    transform: scale(1.4);
}