header {
    background-color: rgb(28, 75, 41);
    border-bottom: 1px groove rgba(174, 223, 255, 0.658);
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    text-transform: uppercase;
    height: 120px;
    margin-left: 1em;
    margin-right: 1em;
}

header .contenedor{
    height: 120px;
    width:100%;
    display:inline-block
}

header .contenedor .logo{
    width: 120px;
    height: 120px;
    padding: 1px;   
    margin: 0px 5px 0px 0px;
    background-image: url(../img/Preview.png);   
    background-size:contain;
    background-repeat: no-repeat;
    float:left
}   

.logo{
    border-radius: 15%;
    opacity: 0.5;
}
.barra_busqueda{
    display: inline;
    width: 15%;
    height: 35px;
    padding: 0px 0rem 0px 1em;
    margin-right: 2em;
    margin-top: 1em;
    float:right;
    border:1px solid rgb(52, 52, 52);
    background-color: white;
    border-radius: 25px; 
}

.barra_busqueda i{
    padding: 8px 1em 8px 2px;
    float:right;
    color:rgb(23, 23, 23);
    
}

.barra_busqueda i:hover{
    transform: scale(1.4);
}

.barra_busqueda input{
    margin:0px;
    float:left;
    width: 75%;
    height: 32px;
    border-radius: 25px; 
    border:1px solid white; 
}

.menu_principal{
    width: 85%;
    height: 58px;
    float:right;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-content:flex-end;
    padding:3px 0px 0px 0px;
}

.lista_menu { 
    bottom: 0;
    padding:5px;
    margin-bottom: 0;
}

.item_menu { 
    list-style-type: none;
    float: left;
    font-size:medium;
    
}

.menu_principal ul li a{
    text-decoration: none;
    padding: 10px 25px 10px 25px;
    color: whitesmoke;
    font-size: 1em;
}

.menu_principal ul li a:hover{
    background-color: #5b9a01;
    color: white;
    font-weight: 600;

}

.topnav{
    display:none;
}

@media all and (min-width:600px) and (max-width:1023px) {
    
    header {
        width: 95%;
        height: 90px; 
    }

    header .contenedor{
        height: 90px;
        display: grid;
        grid-template-columns: 0.15fr 0.50fr 0.35fr;
        grid-template-rows: repeat(2, 0.5fr);
        align-content: flex-end;
        justify-items: stretch;
    }

    header .contenedor .logo{
        width: 90px;
        height: 90px;
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 3;
        max-width: 90px;
        max-height: 90px;
        padding: 1px;       
        margin: 0px;
    }       

    .barra_busqueda{
        display: inline;
        width: 80%;
        grid-column-start: 3;
        grid-column-end: 4;
        margin-right: 10%;
        margin-top: 3%;
        margin-left: 10%;
        border:1px solid rgb(52, 52, 52);
        background-color: white;
    }

    .menu_principal{
        width: 100%;
        height: 100%;
        grid-column-start: 2;
        grid-column-end: 4;
        grid-row-start: 2;
        grid-row-end: 3;
    }
    
    .topnav {
        display: none;
    }

    .lista_menu { 
        display:flex;
        flex-direction: row;
        flex-wrap: nowrap;
        padding:3px;
        justify-content: flex-end;
        align-content: flex-end;
    }
    
    .menu_principal ul li a{
        padding: 3px 10px 3px 10px;
    }  
}    
    
@media all and (max-width:599px) {
    
    header {
        width: 100%;
        height: 50px;
        margin-left: auto;
        margin-right: auto;
        }
        
    header .contenedor{
        height: 50px;
        display: grid;
        grid-template-columns: repeat(3,0.5fr);
        grid-template-rows: repeat(1, 0.5fr);
    }

    header .contenedor .logo{
        width: 50px;
        height: 50px;
        grid-column-start: 1;
        grid-column-end: 2;
    }   
    
    .barra_busqueda{
        display: inline;
        width: 100%;
        height: 20px;
        font-size: smaller;
        grid-column-start: 2;
        grid-column-end: 3;
        padding: 0px;       
        margin-top:15%;
        margin-right: 0px;
        float: none;
    }

    .barra_busqueda div{
    margin:0px; 
    width: 70%;
    height: 18px;
    padding:0px;
    float:right;
    }
    
    .barra_busqueda i{
        width: 20%;
        height: 10px;
        padding: 1px;
        margin: 1px;
        float:left;
    }
    
    .barra_busqueda i:hover{
        transform: scale(1.4);
    }
    
    .barra_busqueda input{
        width: 100%;
        height: 18px;
        padding-top: 0px;
        padding-bottom: 0px;
    }

    .topnav{
        display:none;
    }
    
    .menu_principal{
        display: none;
    }

    /* Estilo del menu de navegacion */
.topnav {
   display: flex;
    overflow: hidden;
    justify-content: end;
  }
  
  /* Esconde los links en el menu de navegacion */
  .topnav #myLinks {
    display: none;
    flex-direction: column;
    background-color: #8ea594;
    z-index: 1;
    width: 20%;
  }
  .deslizador{
    z-index: -1;
  }
  
  /* Estiliza los links del menu de navegacin */
  .topnav a {
    color: white;
    padding: 12px 15px;
    text-decoration: none;
    font-size: 17px;
    display: block;
    border-radius: 15%;
    font-size: 0.5em;
    grid-column-start: 3;
    grid-column-end: 4;
  }
  
  /* Estiliza el menu hamburguesa */
  .topnav a.icon {
    background: #8ea594;
    display: block;
    position: absolute;
    right: 20px;
    top: 29px;
  }
  
  /* Cambia el color a grey cuando pasa el mouse */
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Estiliza el link activo */
  .active {
    background-color: #04AA6D;
    color: white;
  }
}