.header {
    background-color: rgb(28, 75, 41);
    /* width: auto;
    height: 120px; */
    /* position: absolute; */
    /* display: block; */
    border-bottom: 1px groove rgba(174, 223, 255, 0.658);
    /* padding: 0px 1rem; */
    /* align-items:stretch;
    justify-content:center; */
    /* top: 0;
    left: 0; */
    /* right: 0; */
    /* width: 100%; */
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    text-transform: uppercase;
    height: 120px;

    /* z-index: 999;
    margin-left: auto;
    margin-right: auto; */
}
header .contenedor{
    height: 120px;
    width:100%;
    /* background-color: aqua; */
    display:inline-block
    /* display: flex; */
    /* border: 1px groove rgba(174, 223, 255, 0.658); */
    /* float:left; */
    /* display: flex;    
    flex-wrap: wrap;
    
    align-content: space-around;
    
    justify-content:center; */
}
header .contenedor .logo{
    width: 120px;
    height: 120px;
    /* position: absolute;
    top:0%;
    left: 0%; */
    padding: 1px;
    
    margin: 0px 5px 0px 0px;
    background-image: url(/img/Preview.png);
    opacity: 0.7;
    background-size:contain;
    background-repeat: no-repeat;
    float:left
}   
.barra_busqueda{
    display: inline;
    /* justify-content: flex-end;
    align-items: center; */
    width: 250px;
    height: 56px;
    padding: 8px 0rem 8px 1rem;
    margin: 2px;
    float:right
    /* position: absolute;
    left: 50%; */      
}

.barra_busqueda i{
    padding: 8px 1rem 8px 2px;
    /* margin:3px; */
    float:right;
    scale:1.5;
    color:whitesmoke;
}

.barra_busqueda i:hover{
    transform: scale(1.4);
}

.barra_busqueda input{
    margin:3px;
    float:left;
    width: 72%;
}

.menu_principal{
    width: 85%;
    height: 58px;
    float:right;
    /* position: absolute;
    left: 18%;
    top: 60%; */
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-content:flex-end;
    padding:3px 0px 0px 0px;
}

.lista_menu { 
    bottom: 0;
    padding:5px;
    margin-bottom: 0;
}

.item_menu { 
    list-style-type: none;
    float: left;
    font-size:medium;
    
}

.menu_principal ul li a{
    text-decoration: none;
    padding: 10px 25px 10px 25px;
    /* display:inline-block; */
    color: whitesmoke;
}

.menu_principal ul li a:hover{
    background-color: #5b9a01;
    color: white;
    font-weight: 600;

}
