.contenedor_ppal{
    margin: 1em 2em;
    padding: 0em 1.5em;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(7, auto);
}

.contenedor_ppal h1{
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    margin:0;
}

.intro{
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    margin:0;
}

.fin{
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 7;
    grid-row-end: 8;
    margin:0;
}


.Deportes{
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(0.5fr auto);
    grid-gap: 1em 2em;
    margin: 1em 0.5em;
    justify-items: stretch;
    border-bottom: 1px solid whitesmoke;

}

.Deportes h2{
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 1;
    margin:0;
}

.Deportes p{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
    padding: 1em;
}

.Deportes img{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    width: auto;
    padding: 1em;
    box-shadow: 2px black;
}

