/* * {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
} */

body {
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-size: 1.1rem;
    background-color: cadetblue;
    /* background-image: url(../img/different-sport-balls.jpg);
    background-size:cover; */
    padding: 0px 1rem;
    
}
/* main{
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
  } */
#seccion_principal{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 0.5fr);
    grid-gap: 20px;
    padding:15px;
    width: 70%;
    height: auto;
    float: left;
    /* background-color: beige; */
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto
}
.deslizador{
    box-sizing: content-box;
    box-shadow: 5px;
    /* width: 90%;
    height: auto; */
    margin:1%;
}

#seccion_principal .deslizador{
    grid-column: span 2;
    grid-row: span 2;
    
}
#seccion_principal article img{
    width: 80%;
    height: 60%;
    margin:0px 0px 10px 0px;
    /* padding:0% 2%; */
    max-width: 1280px;
    max-height: 720px;
    border-radius: 15%;
}
article {
    display: flex;
    /* flex-wrap: nowrap; */
    flex-direction: column;
    justify-content: stretch;
    align-content:center;
    align-items: center;
    /* width: 40%;
    height: 30%; */
    margin:10px;
    padding: 15px;
    text-align: left;
    /* background-color: bisque; */
    border-bottom:solid 1px gray;
}

/* article :hover {
    display: flex;
   
    flex-direction: column;
 
    margin:10px;
    padding: 15px;
    text-align: left;
    background-color: bisque;
} */

article :hover {
    /* display: flex;
 
    flex-direction: column;
 
    margin:10px;
    padding: 15px;
    text-align: left; */
    background-color: bisque;
    
}

.carousel-item img {
    max-height: 700px; /* Las imágenes no superarán la altura del carrusel */
    max-width: 1000px; 
  }

#seccion_lateral{
    width: 30%;
    height: auto;
    float: right;
    /* background-color: darkgray; */
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    padding:15px;
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: space-around;
}

/* #seccion_lateral div{
    margin-top: 5px;
    padding: 5px;
    text-align:left;
    border: 1px solid  #4d5252;
} */

.inputBox {
    display: flex;
    flex-direction: column;
    margin-left: 15px;
    margin-bottom: 10px;
    width: 70%;
    align-items: normal;
}

.inputBox :hover {
    transform: scale(1.05);
}

.inputBox label,.inputBox  {
    font-size: 1rem;
    font-weight: 500;
    color: rgb(255, 255, 255);
    margin-bottom: 5px;
    margin-top: 10px;

}

.inputBox input,
.inputBox textarea {
    padding: 10px;
    border: 1px solid rgb(255, 255, 255);
    font-size: 1em;
    outline: none;
    box-sizing: border-box;
}


.checktipotel{
    display:inline;
    padding: 10px;
}

.lineacorta{
    width: 100%;
    padding: 10px;
    border-left: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
    font-size: 1rem;
}

.contacto{
    background:linear-gradient(90deg,rgb(135, 139, 139) 50%, rgb(105, 113, 112) 50%);
    border-radius: 10px;
}

.contacto h3{
    font-size: 1.4rem;
    font-weight: 700;
    color: rgb(240, 235, 235);
    margin-bottom: 5px;
    margin-top: 5px;
    margin-left: 15px;
    border-bottom: 1px solid rgb(51, 53, 52);
    padding-bottom: 10px;
    padding-top: 15px;
}   

.checkBox{
    margin-left: 25px;
    color:white;
    
}

.Botones_form{
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    justify-items: center;
    margin-bottom:15px;
    padding-bottom: 10px;
    padding-top: 10px;
    margin-top: 10px;
    
}